a{
    text-decoration: none;
}

.active{
    color: #1F51FF;
     
}

body{
    background-image: url(img/bg.jpg);
    
}

.kep{
        border: 5px solid black;
        border-radius: 5%;
        width: 200px;
        margin:30px;
        transition: 1s;
}

.kep:hover{
        transform: scale(1.2);
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
}
@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }